<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syyang.inventory.mapper.InventoryProjectInfoMapper">
    <select id="getCompanyCashierByDates" resultType="com.syyang.inventory.entity.vo.CompanyCashierVo">
        <!--        SELECT-->
        <!--        d.days AS `riqi`,-->
        <!--        IFNULL( SUM( CASE WHEN b.type = 0 THEN b.cashier_amount ELSE 0 END )*0.0001, 0 ) AS `shouru`,-->
        <!--        IFNULL( SUM( CASE WHEN b.type = 1 THEN b.cashier_amount ELSE 0 END )*0.0001, 0 ) AS `zhichu`-->
        <!--        FROM-->
        <!--        (-->
        <!--        SELECT-->
        <!--        date_format( date_sub( DATE(#{inventoryOverviewParam.starTime}), INTERVAL ( @i := @i - 1 ) DAY ), '%Y-%m-%d' ) AS days-->
        <!--        FROM-->
        <!--        mysql.help_topic-->
        <!--        JOIN ( SELECT @i := 1 ) c-->
        <!--        WHERE-->
        <!--        help_topic_id &lt;= (-->
        <!--        TIMESTAMPDIFF( DAY, DATE(#{inventoryOverviewParam.starTime}), DATE(#{inventoryOverviewParam.endTime}) ))-->
        <!--        ) AS d-->
        <!--        LEFT JOIN-->
        <!--        (-->
        <!--            SELECT-->
        <!--                type,-->
        <!--                cashier_time,-->
        <!--                cashier_amount-->
        <!--            FROM-->
        <!--                inventory_daily_business-->
        <!--            WHERE-->
        <!--                inventory_daily_business.`status` = 3-->
        <!--              AND inventory_daily_business.department_id = ${departmentId}-->
        <!--            UNION ALL-->
        <!--            SELECT-->
        <!--                type,-->
        <!--                cashier_time,-->
        <!--                cashier_amount-->
        <!--            FROM-->
        <!--                inventory_project_business-->
        <!--            WHERE-->
        <!--                inventory_project_business.`status` = 3-->
        <!--              AND inventory_project_business.department_id = ${departmentId}-->
        <!--        ) b ON DATE( b.cashier_time ) = d.days-->
        <!--        GROUP BY-->
        <!--            d.days-->
        <!--        ORDER BY-->
        <!--            d.days-->
        SELECT
        d.MONTHS AS `riqi`,
        convert(IFNULL( SUM( CASE WHEN b.type = 0 THEN b.cashier_amount ELSE 0 END )*0.0001, 0 ),decimal(16,2)) AS
        `shouru`,
        convert(IFNULL( SUM( CASE WHEN b.type = 1 THEN b.cashier_amount ELSE 0 END )*0.0001, 0 ),decimal(16,2)) AS
        `zhichu`
        FROM
        (
        SELECT
        date_format( date_sub( DATE(#{inventoryOverviewParam.starTime}), INTERVAL ( @i := @i - 1 ) MONTH ), '%Y-%m' ) AS
        MONTHS
        FROM
        mysql.help_topic
        JOIN ( SELECT @i := 1 ) c
        WHERE
        help_topic_id &lt;= (
        TIMESTAMPDIFF( MONTH, DATE(#{inventoryOverviewParam.starTime}), DATE(#{inventoryOverviewParam.endTime}) ))
        ) AS d
        LEFT JOIN
        (
        SELECT
        type,
        cashier_time,
        cashier_amount
        FROM
        inventory_daily_business
        WHERE
        inventory_daily_business.`status` = 3
        AND inventory_daily_business.department_id = ${departmentId}
        UNION ALL
        SELECT
        type,
        cashier_time,
        cashier_amount
        FROM
        inventory_project_business
        WHERE
        inventory_project_business.`status` = 3
        AND inventory_project_business.department_id = ${departmentId}
        UNION ALL
        SELECT
        1,
        cashier_time,
        cashier_amount
        FROM
        inventory_stock_agreement
        WHERE
        inventory_stock_agreement.`status` = 3
        AND inventory_stock_agreement.type = 0
        AND inventory_stock_agreement.department_id = ${departmentId}
        UNION ALL
        SELECT
        1,
        cashier_time,
        cashier_amount
        FROM
        inventory_project_other_business
        WHERE
        inventory_project_other_business.`status` = 3
        AND inventory_project_other_business.department_id = ${departmentId}
        ) b ON date_format( DATE(b.cashier_time) ,'%Y-%m') = d.MONTHS
        GROUP BY
        d.MONTHS
        ORDER BY
        d.MONTHS
    </select>
</mapper>
